<table>
  <tr>
    <th align="left">カテゴリ</th>
    <th align="left">資格名</th>
    <th align="left">取得日</th>
    <th align="left">関連技術・用途</th>
  </tr>

  <tr>
    <td rowspan="3" align="left"><strong>AWS<br/>資格</strong></td>
    <td align="left"><strong>AWS Certified Solutions Architect - Associate</strong></td>
    <td align="left">2024年</td>
    <td align="left">AWSアーキテクチャ設計・構築・運用</td>
  </tr>
  <tr>
    <td align="left"><strong>AWS Certified DevOps Engineer - Associate</strong></td>
    <td align="left">2025年</td>
    <td align="left">CI/CDパイプライン・インフラ自動化</td>
  </tr>
  <tr>
    <td align="left"><strong>LinuC Level 1</strong></td>
    <td align="left">2022年</td>
    <td align="left">Linuxシステム管理・運用基盤</td>
  </tr>

  <tr>
    <td rowspan="1" align="left"><strong>語学<br/>資格</strong></td>
    <td align="left"><strong>TOEIC Listening & Reading Test</strong></td>
    <td align="left">790点</td>
    <td align="left">英語ビジネスコミュニケーション力の客観評価（CEFR B2-C1相当）</td>
  </tr>
</table>