<table style="width: 100%; table-layout: auto; border-collapse: collapse;">
  <tr>
    <th align="left" style="width: 15%; word-wrap: break-word;">Category</th>
    <th align="left" style="width: 30%; word-wrap: break-word;">Certification Name</th>
    <th align="left" style="width: 15%; word-wrap: break-word;">Obtained</th>
    <th align="left" style="width: 40%; word-wrap: break-word;">Related Technologies & Usage</th>
  </tr>

  <tr>
    <td rowspan="3" align="left"><strong>AWS<br/>Certifications</strong></td>
    <td align="left"><strong>AWS Certified Solutions Architect - Associate</strong></td>
    <td align="left">2024</td>
    <td align="left">AWS Architecture Design, Construction & Operations</td>
  </tr>
  <tr>
    <td align="left"><strong>AWS Certified DevOps Engineer - Associate</strong></td>
    <td align="left">2025</td>
    <td align="left">CI/CD Pipelines & Infrastructure Automation</td>
  </tr>
  <tr>
    <td align="left"><strong>LinuC Level 1</strong></td>
    <td align="left">2022</td>
    <td align="left">Linux System Administration & Operations Foundation</td>
  </tr>

  <tr>
    <td rowspan="1" align="left"><strong>Language<br/>Certifications</strong></td>
    <td align="left"><strong>TOEIC Listening & Reading Test</strong></td>
    <td align="left">790 points</td>
    <td align="left">English Business Communication Proficiency Certification (Equivalent to CEFR B2-C1 Level)</td>
  </tr>
</table>