<h3>Technologies Used (by Category)</h3>
<table>
  <thead>
    <tr><th>Category</th><th>Main Technologies Used (Work Experience)</th></tr>
  </thead>
  <tbody>
  <tr>
    <td>Programming Languages</td>
    <td>Python (2y 4m)<br>VBA (2y 4m)<br>PowerShell (2y 4m)<br>batch (1y 6m)</td>
  </tr>
  <tr>
    <td>Frameworks</td>
    <td>—</td>
  </tr>
  <tr>
    <td>Cloud Technologies (AWS)</td>
    <td>AWS (2y 4m)<br>EC2 (2y 4m)<br>Lambda (2y 4m)<br>S3 (2y 4m)<br>VPC (1y 6m)<br>IAM (1y 6m)<br>CloudFormation (1y 6m)<br>DynamoDB (1y 6m)<br>CloudWatch (1y 6m)<br>Security Hub (1y)<br>AWS Health (1y)<br>Amazon Bedrock (1y)<br>SNS (8m)<br>EventBridge (8m)<br>Systems Manager (8m)<br>QuickSight (1m)</td>
  </tr>
  </tbody>
</table>